#bg {
    background: linear-gradient( to bottom right, #535558, #060606);
}

.form-group .input-group .input[type="text"]:focus {
    border: none !important;
    outline: none !important;
}

.card{
    border: 3px solid rgba(0,0,0,.125);
    border-radius: 0rem;
    padding: 1em;
}