<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()">
      <!-- <span aria-hidden="true">&times;</span> -->
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="orderForm" ngNativeValidate (ngSubmit)="onSubmit()">
          <div class="modal-body">
              <div class="row">
                <div class="form-group col-4 mt-2">
                  <label>Order ID</label>
                  <input type="text" class="form-control" name="orderId" formControlName="orderId">
                  </div>
                  <div class="form-group col-4 mt-2">
                      <label>Customer Name</label>
                      <input type="text" class="form-control" name="name" formControlName="name">
                  </div>
                  <div class="form-group col-4 mt-2">
                    <label>Customer Contact</label>
                    <input type="text" class="form-control" name="contact" formControlName="contact">
                </div>
              </div>
              
              <div class="row">
                <div class="form-group col-4 mt-2">
                  <label>Address</label>
                  <input type="text" class="form-control" name="address" formControlName="address">
                  </div>
                  <div class="form-group col-4 mt-2">
                      <label>Customer email</label>
                      <input type="text" class="form-control" name="email" formControlName="email">
                  </div>
                  <div class="form-group col-4 mt-2">
                    <label>Customer UserId</label>
                    <input type="text" class="form-control" name="userId" formControlName="userId">
                </div>
              </div>

              <hr>

              <div class="row">
                <div class="form-group col-4 mt-2">
                  <label>Order Status</label>
                    <input type="text" class="form-control" name="orderStatus" formControlName="orderStatus">
                  </div>
                  <div class="form-group col-4 mt-2">
                      <label>Order placed on</label>
                      <input type="text" class="form-control" name="orderDate" formControlName="orderDate">
                  </div>
                  <div class="form-group col-4 mt-2">
                    <label>Total Amount</label>
                    <input type="text" class="form-control" name="totalAmount" formControlName="totalAmount">
                </div>
              </div>

              <div class="row">
                <div class="form-group col-4 mt-2">
                  <label>Shipment Charges</label>
                    <input type="text" class="form-control" name="shipmentCharges" formControlName="shipmentCharges">
                  </div>
                  <div class="form-group col-4 mt-2">
                      <label>Total Items</label>
                      <input type="text" class="form-control" name="totalItems" formControlName="totalItems">
                  </div>
                
              </div>

              <hr>

              <div class="row">
                <div class="form-group col-4 mt-2">
                  <label>Payment Method</label>
                    <input type="text" class="form-control" name="paymentMethod" formControlName="paymentMethod">
                  </div>
                  <div class="form-group col-4 mt-2">
                      <label>Payment Method Title</label>
                      <input type="text" class="form-control" name="paymentMethodTitle" formControlName="paymentMethodTitle">
                  </div>
                  <div class="form-group col-4 mt-2">
                    <label>Payment Status</label>
                    <input type="text" class="form-control" name="paymentStatus" formControlName="paymentStatus">
                </div>
                <div class="form-group col-4 mt-2">
                  <label>Payment Status Title</label>
                  <input type="text" class="form-control" name="paymentStatusTitle" formControlName="paymentStatusTitle">
              </div>
              </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal" (click)="close()">
              Cancel
            </button>
            <button type="submit" class="btn btn-dark btn-sm" [disabled]="loader">
              Save
              <span *ngIf="loader">&nbsp;</span>
              <div *ngIf="loader" class="spinner-border spinner-border-sm text-white" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
        </div> 
      </form>
  </div>


