<div class="container-fluid py-3">
    <div class="row w-100 m-0">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-header bg-white border-0">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h4>Categories</h4>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="d-flex justify-content-end align-items-center">
                                <button class="btn btn-dark me-1" (click)="openProductCategoryDialog(prodCategoryModal)" >Add Category</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-flush m-0">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Sr. No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let cat of categoriesList; index as idx">
                            <th scope="row">{{idx+1}}</th>
                            <td>{{cat["categoryName"]}}</td>
                            <td>{{cat["categoryDescription"]}}</td>
                            <td>
                                <h5><span class="badge rounded-pill {{ cat['active'] ? 'bg-success' : 'bg-warning' }}">{{ cat['active'] ? "Active" : "In Active" }}</span></h5>
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-dark me-1 mb-1" [disabled]="cat['categoryImageUrl'] === ''">View Image</button>
                                <button type="button" class="btn btn-sm btn-dark me-1 mb-1" (click)="openProductCategoryDialog(prodCategoryModal,cat )" >Update</button>
                                <button type="button" class="btn btn-sm btn-danger me-1 mb-1">Delete</button>
                            </td>
                          </tr>                          
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #prodCategoryModal let-modal class="bg-modal">
    <app-addcategory [categoryInfo]="categoryInfo" (closeModel)="closeModel(prodCategoryModal)"></app-addcategory>
</ng-template>