<div class="modal-header">
    <h4 class="modal-title">Product {{ updation ? 'Updation' : 'Creation' }}</h4>
    <button type="button" class="btn-close" aria-label="Close" id="closeAddNewStaffModal" #closeAddNewStaffModal
    (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="productForm" ngNativeValidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-12 col-sm-4">
          <div class="form-group m-0 mb-2">
            <label for="name" class="text-sm">Product Name</label>
            <input type="text" name="productTitle" formControlName="productTitle" class="form-control"
              placeholder="Name" required>
          </div>
          <div class="form-group m-0 mb-2">
            <label for="name" class="text-sm">Product Category</label>
            <select id="name" name="productCategory" class="form-select shadow-none form-control" formControlName="productCategory"
              [compareWith]="compareByCategoryId" (selectedValueChange)="onSelectOption($event)" required>
              <option *ngFor="let category of categoryList; index as idx" [ngValue]="category">
                  {{ category.categoryName }}
              </option>
            </select>
          </div>
          <div class="form-group m-0 mb-2">
            <label for="price" class="text-sm">Price</label>
            <input type="number" name="price" formControlName="price" class="form-control" placeholder="Price" min="1"
              required>
          </div>
          <div class="form-group m-0 mb-2">
            <label for="status" class="text-sm">Product status</label><br>
            <div id="status" class="btn-group btn-group-toggle" ngbRadioGroup >
              <label ngbButtonLabel class="btn-primary btn-sm mr-2">
                <input ngbButton type="radio" class="btn-check " [value]="true" formControlName="active" name="active">Enable
              </label>
              <label ngbButtonLabel class="btn-danger btn-sm">
                <input ngbButton type="radio" class="btn-check" [value]="false" formControlName="active" name="active">Disable
              </label>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-8">
          <div class="form-group m-0 mb-2">
            <label for="description" class="text-sm">Description</label>
            <textarea id="description" name="productDescription" id="adress" rows="4" class="form-control"
              formControlName="productDescription"></textarea>
          </div>
          <div class="col-12 px-0">
            <div class="d-flex flex-column">
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="m-0">Product Images</h4>
                <input type="file" #file (change)="checkImageFileType($event)" multiple hidden>
                <button type="button" class="btn btn-sm btn-dark" (click)="file.click()">
                  Add
                </button>
              </div>
            </div>
            <div class="row mt-2" *ngIf="tempImageFiles.length == 0">
              <div class="col-12" style="height: 40px;">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <span class="material-icons" style="font-size: 26px;">warning</span>
                  <h4 class="m-0 mt-1">No Images</h4>
                </div>
              </div>
            </div>
            <div class="row mt-3" *ngIf="tempImageFiles.length != 0">
              <div class="col-12 my-2" *ngFor="let imageFile of tempImageFiles; index as idx">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-column">
                    <p class="m-0 mb-1">
                      <strong>{{ idx + 1 }}</strong>. 
                      {{ imageFile.name || imageFile }}
                    </p>
                    <span *ngIf="productForm.get('thumbnailImage')?.value === idx" class="text-sm text-muted">
                      Selected as Thumnail Image
                    </span>
                  </div>
                  <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-primary btn-sm mr-2" (click)="changeThumbnailImageIdx(idx)"
                      [ngClass]="{
                      'btn-success': productForm.get('thumbnailImage')?.value === idx
                    }">
                      {{ productForm.get('thumbnailImage')?.value === idx ? 'Selected' : 'Select' }}
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="removeImage(idx)">
                      Remove
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-sm"  (click)="close()">
        Cancel
      </button>
      <button type="submit" class="btn btn-dark btn-sm" [disabled]="loader">
        Save
        <span *ngIf="loader">&nbsp;</span>
        <div *ngIf="loader" class="spinner-border spinner-border-sm text-white" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </div>
  </form>
